<div class="mx-0 mx-sm-auto mt-4 light-green-bg m-3">
    <div class="card">
      <div class="card-header" style="background-color: #007335;">
        <h5 class="card-title text-white mt-2" id="exampleModalLabel">Encuesta de satisfacción</h5>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="far fa-file-alt fa-4x mt-3" style="color: #007335;font-size: 32px;"></i>
          <p>
            <strong>Tu opinión importa</strong>
          </p>
          <p>
            ¿Tienes alguna idea de como podríamos mejorar nuestro servicio?
            <strong>Dejanos una valoración.</strong>
            <br>
            <small>Es muy importante para nosotros...</small>
          </p>
        </div>
  
        <hr />


  
        <form class="px-4" action="">
          <p class="text-center"><strong>Tu opinión</strong></p>
  
          <p class="text-center">¿Estas satisfecho con las explicaciones del docente?</p>

          <div class='range'>
            <input type="range" value="90" min='0' max='100' step='1' #range1 (change)="showData(range1)"/>
            <span>{{range1.value}}</span>
          </div>

          <p class="text-center">¿Estás satisfecho con la parte práctica del taller?</p>

          <div class='range'>
            <input type="range" value="90" min='0' max='100' step='1' #range2 (change)="showData(range2)"/>
            <span>{{range2.value}}</span>
          </div>

          <p class="text-center">¿Has aprendido lo que esperabas?</p>

          <div class='range'>
            <input type="range" value="90" min='0' max='100' step='1' #range3 (change)="showData(range3)"/>
            <span>{{range3.value}}</span>
          </div>
    
          <p class="text-center"><strong>¿En qué podríamos mejorar?</strong></p>
  
          <div class="form-outline mb-4">
            <textarea class="form-control" id="form4Example3" rows="4" placeholder="Cuentanos que te gustaría ver la próxima vez que vengas..."></textarea>
            <!-- <label class="form-label" for="form4Example3"></label> -->
          </div>
        </form>
      </div>
      <div class="card-footer text-end row">
        <div class="col-2">
            <button [routerLink]="['/']" routerLinkActive="active" ariaCurrentWhenActive="page"  class="col-md-6 btn btn-light">Volver</button>
        </div>
        <div class="col-2"></div>
        <button class="btn btn-primary col-4" [routerLink]="['/end-form',dni]" routerLinkActive="active" ariaCurrentWhenActive="page">Entrar al curso</button>
        <div class="col-4"></div>
      </div>
    </div>
  </div>