.modal-dialog {
    width: 80% !important;
    margin: 0 auto !important;
    max-width: max-content !important;
}


  #dtHorizontal th, td {
    white-space: nowrap;
  }
  
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before {
   bottom: .5em;
  }

  .item-col {
    max-width: 10em;
    font-size:12px;
    overflow: hidden;
    border-right: 1px solid #dee2e6;
  }