<div class="div-formulario" id="containerStudentForm">
    <div class="section">
      <h4>Ya puedes pasar al curso:</h4>
      <div class="form-group">
            <div class="row">
                <h6 class="col-md-4">Aula:</h6>
                <p class="col-md-8">25</p>
            </div> 
            <hr class="hr hr-blurry" />    
            <div class="row">
                <h6 class="col-md-4">Tu número de alumno:</h6>
                <p class="col-md-8">106</p>
            </div> 
      </div>
    </div>
  </div>