<div id="main">
    <div class="fof">
          <h1>¡Muchas gracias!</h1>
    </div>
    <div>
      <h4 style="padding-top: 1em;">Se ha enviado correctamente la encuesta, esperamos mejorar para la próxima gracias a tu opinión...</h4>
    </div>
    <div class="ng-container row my-5">
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"  class="btn">Volver al inicio</button>
      </div>
      <div class="col-4"></div>
    </div>
</div>
