<div class="div-formulario light-green-bg card m-3" id="containerStudentForm">
    <div class="section">
      <h4 class="w-75 mx-auto">Selecciona el curso:</h4>
      <div class="form-group w-75 mx-auto">
              <select class="form-control" id="select-curso" #selectCourse (change)="showCourseUsers($event)">
                    <option>Seleccionar curso...</option>
                    <option *ngFor="let course of courses"
                          [value]="course.code">
                          {{course.name}}
                    </option>
              </select>
        </div>
    </div>
    <!-- <div class="section">
        <h4 class="w-75 mx-auto">Selecciona un alumno:</h4>
        <div class="form-group w-75 mx-auto">
                <select class="form-control" id="select-alumno" #selectAlumno (change)="showUser($event)">
                    <option>Seleccionar alumno...</option>
                    <option *ngFor="let user of users"
                    [value]="user.dni">
                  {{user.name + " " + user.surname}}</option>
                </select>
          </div>
    </div> -->

    <div class="form-group w-75 mx-auto">
      <label for="userDni">DNI:</label>
      <input type="text" class="form-control" id="keyDni" placeholder="DNI" formControlName="dni" #keyworddni>
      <small class="text-danger" *ngIf="userForm.get('dni')?.invalid">Campo inválido.</small>
      <!-- <small class="text-danger" *ngIf="userForm.get('dni')?.hasError('required')">Campo vacío.</small> -->
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-0 col-xs-0"></div>
      <div class="col-lg-4 col-sm-4 col-xs-4">
        <button type="submit" ariaCurrentWhenActive="page"  class="col btn btn-primary" id="submitForm" [disabled]="!userForm.valid" (click)="showUser(keyworddni.value)">Cargar datos</button><!--[routerLink]="['/documentation',userForm.value.dni,selectCourse.value]" routerLinkActive="active"-->
      </div>  
      <div class="col-lg-4 col-sm-0 col-xs-0"></div>

    </div>

    <form id="studentForm" [formGroup]="userForm" (ngSubmit)="updateUser()" *ngIf="userSelected">
    <hr class="hr hr-blurry" />

    <h4 class="w-75 mx-auto">Compruebe los siguientes datos</h4>
          <div class="form-group w-75 mx-auto">
            <label for="userDni">DNI:</label>
            <input type="text" class="form-control" id="userDni" placeholder="DNI" formControlName="dni">
            <small class="text-danger" *ngIf="userForm.get('dni')?.invalid">Campo inválido.</small>
            <!-- <small class="text-danger" *ngIf="userForm.get('dni')?.hasError('required')">Campo vacío.</small> -->
          </div>
        <div class="form-group row w-75 mx-auto">
          <div class="col">
            <label for="userName">Nombre:</label>
            <input type="text" class="form-control" id="userName" placeholder="Nombre" formControlName="name">
            <small class="text-danger" *ngIf="userForm.get('name')?.invalid">Campo inválido.</small>

          </div>
          <div class="col">
            <label for="userSurname">Apellidos:</label>
            <input type="text" class="form-control" id="userSurname" placeholder="Apellidos" formControlName="surname">  
            <small class="text-danger" *ngIf="userForm.get('surname')?.invalid">Campo inválido.</small>

          </div>
        </div>
        <div class="form-group row w-75 mx-auto">
          <div class="col-md-8">
            <label for="userEmail">Email:</label>
            <input type="text" class="form-control" id="userEmail" placeholder="Email" formControlName="email">
            <small class="text-danger" *ngIf="userForm.get('email')?.invalid">Campo inválido.</small>

          </div>
          <div class="col-md-4">
            <label for="userPhone">Teléfono:</label>
            <input type="text" class="form-control" id="userPhone" placeholder="Teléfono" formControlName="phone">
            <small class="text-danger" *ngIf="userForm.get('phone')?.invalid">Campo inválido.</small>

          </div>
          </div>
          <div class="form-group w-75 mx-auto">
            <label for="userDetails">Observaciones:</label>
            <input type="textarea" class="form-control" id="userDetails" placeholder="Observaciones" formControlName="details">
          </div>
        <div class="form-group w-75 mx-auto">
            <div class="form-check">
            <input type="checkbox" class="form-check-input" id="userRights" formControlName="rights" required>
            <label class="form-check-label" for="userRights">Acepto</label>
            <small class="form-text text-muted">Al hacer click aceptas que usemos tus <a class="link-primary" href="https://asesorias.com/empresas/wp-content/uploads/2020/01/Modelo-contrato-cesion-derechos-imagen.png">derechos</a> de imagen y gestionar tus datos.</small>
            <small class="text-danger" *ngIf="userForm.get('rights')?.invalid">Campo inválido.</small>
          </div>
        </div>
        <br>
          <div class="row" *ngIf="this.router.url==='/'">
            <div class="col-lg-4 col-sm-0 col-xs-0"></div>
            <div class="col-lg-4 col-sm-4 col-xs-4">
              <button type="submit" ariaCurrentWhenActive="page"  class="col btn btn-primary" id="submitForm" [disabled]="!userForm.valid" (click)="updateUser()">Acceder al curso</button><!--[routerLink]="['/documentation',userForm.value.dni,selectCourse.value]" routerLinkActive="active"-->
            </div>  
            <div class="col-lg-4 col-sm-4 col-xs-4"></div>
          </div>

          <div class="row" *ngIf="this.router.url==='/prev-survey'">
            <div class="col-lg-4 col-sm-0 col-xs-0"></div>
            <div class="col-lg-4 col-sm-4 col-xs-4">
              <button type="submit" [routerLink]="['/survey',userForm.value.dni,selectCourse.value]" [disabled]="!userForm.valid" routerLinkActive="active" ariaCurrentWhenActive="page"  class="col btn btn-primary" id="submitForm">Valorar el curso</button>
            </div>  
            <div class="col-lg-4 col-sm-4 col-xs-4"></div>
          </div>
      </form>
  </div>